@model HCMS.Web.ViewModels.Administration.Departments.DepartmentsViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <div class="action-conteiner"></div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Departments list</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Department Name</th>
                            <th>Department Manager</th>
                            <th>Employees count</th>
                            <th>Company Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Department Name</th>
                            <th>Department Manager</th>
                            <th>Employees count</th>
                            <th>Company Name</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (this.Model.Departments.Any())
                        {
                            foreach (var department in this.Model.Departments)
                            {
                                <tr class="@department.Id">
                                    <td>@department.Tittle</td>
                                    <td>@(department.DepartmentMenager ?? "No Manager")</td>
                                    <td>@department.Employees</td>
                                    <td>@department.CompanyName</td>
                                    <td id="@department.Id">
                                        <a class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="tooltip" title="Edit Department" onclick="LoadEditForm(@department.Id)">
                                            <i class="fas fa-edit mt-0"></i>
                                        </a>
                                        <a class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="tooltip" title="Delete Department" onclick=DeleteDepartment(@department.Id)>
                                            <i class="fas fa-trash-alt mt-0"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>

    <!-- tooltip function-->
    <script>
        // init tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // remove tooltip from clicked button
        $('[data-toggle="tooltip"]').click(function () {
            $('.tooltip').fadeOut('fast', function () {
                $('.tooltip').remove();
            });
        });
    </script>

    <script>
        function LoadEditForm(data) {
            $.get("/Administration/Departments/Edit?departmentId=" + data,
                function (data) {
                    $('.action-conteiner').html(data);
                });
        }
    </script>

    <script>
        function DeleteDepartment(data) {
            let trToDelete = data.toString();

            $.get("/Administration/Departments/Delete?departmentId=" + data, function (response, status) {
                if (status === 'success') {
                    $('.' + trToDelete).remove();
                }
            });
        }
    </script>
}
