@model HCMS.Web.ViewModels.Vocations.AllVacationsViewModel
@{
    ViewData["Title"] = "Employee";
}

<div class="container-fluid">

    <div class="action-conteiner"></div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Vocations list of employee</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Vocation Tittle</th>
                            <th>Vocation Start Date</th>
                            <th>Vocation End Date</th>
                            <th>Employee Name</th>
                            <th>Vocation Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Vocation Tittle</th>
                            <th>Vocation Start Date</th>
                            <th>Vocation End Date</th>
                            <th>Employee Name</th>
                            <th>Vocation Status</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (this.Model.Vacations.Any())
                        {
                            foreach (var vacation in this.Model.Vacations)
                            {
                                <tr>
                                    <td>@vacation.Tittle</td>
                                    <td>@vacation.FromDate.ToString("D")</td>
                                    <td>@vacation.ToDate.ToString("D")</td>
                                    <td>@vacation.Employee</td>
                                    @{
                                        var output = "";
                                        var color = "";
                                        if (vacation.Status == null)
                                        {
                                            output = "Waiting";
                                            color = "goldenrod";
                                        }
                                        else if (vacation.Status == true)
                                        {
                                            output = "Accept";
                                            color = "green";
                                        }
                                        else
                                        {
                                            output = "Rejected";
                                            color = "red";
                                        }
                                    }
                                    <td style="color: @color">@output</td>
                                    <td class="btns">
                                        <a class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#vacation" title="Change Vacation Status" onclick="LoadModel(@vacation.Id)">
                                            <i class="fas fa-plus mt-0"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td>No Employee</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------->
<div class="modal fade" id="vacation" tabindex="-1" role="dialog" aria-labelledby="vacation"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change vacation status!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body vacation">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>

    <!-- tooltip function-->
    <script>
        //init tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // remove tooltip from clicked button
        $('[data-toggle="tooltip"]').click(function () {
            $('.tooltip').fadeOut('fast', function () {
                $('.tooltip').remove();
            });
        });
    </script>

    <script>
        function LoadModel(data) {
            $.get("/Manager/Vacations/ChangeStatus?vacationId=" + data, function (response) {
                $('.vacation').html(response);
            });
        }
    </script>
}

