@model HCMS.Web.ViewModels.Manager.Departments.EmployeeInfoManagerViewModel

<div class="row">
    <h6><strong>Name: </strong> @Model.EmployeeName</h6>
</div>
<div class="row">
    <h6><strong>Job Tittle: </strong> @Model.JobTittle</h6>
</div>
<div class="row">
    <h6><strong>Email: </strong> @Model.Email</h6>
</div>
<div class="row">
    <h6><strong>Gender: </strong> @Model.Gender</h6>
</div>
<div class="row">
    <h6><strong>Town: </strong> @Model.Town</h6>
</div>
<div class="row">
    <h6><strong>Address: </strong> @Model.Address</h6>
</div>


